[package]
name = "marlin_protocol_pairing"
version = "0.1.0"
edition = "2018"

[lib]
path = "src/lib.rs"

[dependencies]
algebra = { path = "../../../zexe/algebra/", features = [ "asm", "parallel", "bn_382", "tweedle" ] }
ff-fft = { path = "../../../zexe/ff-fft" }
commitment_pairing = { path = "../commitment" }
marlin_circuits = { path = "../../circuits/marlin" }
oracle = { path = "../../oracle" }
rand_core = { version = "0.5" }
colored = "1.9.2"
rand = "0.7.3"
sprs = "0.7.1"
