user.bazelrc
bazel-*
.bazel/
user.bazelrc
.cpcache
.direnv

*.log
log/
tmp/

target
.DS_Store
idea
.idea
*.iml
*.ipynb_checkpoints
*.pyc
*.sage.py
params
_build
.merlin
*.swp
*.swo
.vscode

*.html
# If symlink created for kimchi-visu
tools/srs

.ignore
o1vm/*op-program-data-log.sh
o1vm/cpu.pprof
o1vm/snapshot-state*
o1vm/rpcs.sh
o1vm/meta.json
o1vm/out.json
o1vm/op-program-db*
o1vm/state.json
meta.json
state.json
