[package]
name = "turshi"
description = "An experimental implement of Cairo for kimchi"
documentation.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true
version.workspace = true

[lib]
path = "src/lib.rs"

[dependencies]
ark-ff.workspace = true
hex.workspace = true
o1-utils.workspace = true

[dev-dependencies]
ark-ec.workspace = true

mina-curves.workspace = true
