[package]
name = "mina-poseidon"
version = "0.1.0"
description = "An instantiation of the Poseidon hash function for the pasta fields"
repository = "https://github.com/o1-labs/proof-systems"
homepage = "https://o1-labs.github.io/proof-systems/"
documentation = "https://o1-labs.github.io/proof-systems/rustdoc/"
readme = "README.md"
edition = "2021"
license = "Apache-2.0"

[lib]
path = "src/lib.rs"

[dependencies]
ark-bn254.workspace = true
ark-ff.workspace = true
ark-ec.workspace = true
ark-poly.workspace = true
rand.workspace = true
rayon.workspace = true
serde.workspace = true
serde_with.workspace = true
once_cell.workspace = true

mina-curves.workspace = true
o1-utils.workspace = true

# for ocaml
ocaml = { workspace = true, optional = true }
ocaml-gen = { workspace = true, optional = true }

[dev-dependencies]
serde_json.workspace = true
hex.workspace = true
ark-serialize.workspace = true

[features]
default = []
ocaml_types = [ "ocaml", "ocaml-gen", ]
