[package]
name = "mina-poseidon"
description = "An instantiation of the Poseidon hash function for the pasta fields"
documentation.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true
version.workspace = true

[lib]
path = "src/lib.rs"

[dependencies]
ark-ec.workspace = true
ark-ff.workspace = true
ark-poly.workspace = true
ark-serialize.workspace = true
mina-curves.workspace = true
o1-utils.workspace = true
ocaml = { workspace = true, optional = true }
ocaml-gen = { workspace = true, optional = true }
once_cell.workspace = true
rand.workspace = true
rayon.workspace = true
serde.workspace = true
serde_with.workspace = true

[dev-dependencies]
criterion.workspace = true
hex.workspace = true
serde_json.workspace = true

[features]
default = []
ocaml_types = ["ocaml", "ocaml-gen"]

[[bench]]
name = "poseidon_bench"
harness = false
