[package]
name = "commitment_dlog"
version = "0.1.0"
edition = "2018"

[dependencies]
ark-ff = { version = "0.3.0", features = [ "parallel", "asm" ] }
ark-ec = { version = "0.3.0", features = [ "parallel" ] }
ark-poly = { version = "0.3.0", features = [ "parallel" ] }

rand_core = { version = "0.6.0" }
colored = "1.9.2"
rand = "0.8.0"
rayon = { version = "1" }
blake2 = "0.9.1"
itertools = "0.8.2"
array-init = "1.0.0"

groupmap = { path = "../../groupmap" }
mina-curves = { path = "../../curves" }
o1-utils = { path = "../../utils" }
oracle = { path = "../../oracle" }

ocaml = { version = "0.22.1", optional = true }
ocaml-gen = { path = "../../ocaml-gen", optional = true }

[features]
ocaml_types = [ "ocaml", "ocaml-gen" ]
