[package]
name = "plonk_napi"
version = "0.1.0"
edition = "2021"
authors = ["opensource@o1labs.org"]
description = "N-API module for plonk proof systems"
license = "MIT/Apache-2.0"

[lib]
name = "plonk_napi"
crate-type = ["cdylib"]

[dependencies]
napi = { version = "2", features = ["napi8"] }
napi-derive = "2"
once_cell = "1.10.0"

# arkworks
ark-ec.workspace = true
ark-ff.workspace = true
ark-poly.workspace = true
ark-serialize.workspace = true
arkworks.workspace = true

# proof-systems
mina-curves = { path = "../curves" }
mina-poseidon = { path = "../poseidon" }
o1-utils = { path = "../utils" }

getrandom.workspace = true
num-bigint.workspace = true
paste.workspace = true
rand.workspace = true
rayon.workspace = true
rmp-serde.workspace = true
serde.workspace = true
serde_with.workspace = true
wasm-bindgen.workspace = true
wasm-types.workspace = true

[build-dependencies]
napi-build = "2"
