[package]
name = "saffron"
version = "0.1.0"
description = "A mutable state layer"
repository = "https://github.com/o1-labs/proof-systems"
homepage = "https://o1-labs.github.io/proof-systems/"
documentation = "https://o1-labs.github.io/proof-systems/rustdoc/"
readme = "README.md"
edition = "2021"
license = "Apache-2.0"

[lib]
path = "src/lib.rs"

[[bin]]
name = "saffron"
path = "src/main.rs"

[dependencies]
anyhow = "1.0"
ark-ec.workspace = true
ark-ff.workspace = true
ark-poly.workspace = true
ark-serialize = { workspace = true, features = ["derive"] }
clap = { workspace = true, features = ["derive"] }
hex.workspace = true
kimchi.workspace = true
kimchi-stubs = { workspace = true, optional = true }
mina-curves.workspace = true
mina-poseidon.workspace = true
o1-utils.workspace = true
ocaml = { workspace = true, optional = true }
ocaml-gen = { workspace = true, optional = true }
poly-commitment.workspace = true
rand.workspace = true
rayon.workspace = true
rmp-serde.workspace = true
serde.workspace = true
serde_with.workspace = true
thiserror.workspace = true
time = { version = "0.3", features = ["macros"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [
  "ansi",
  "env-filter",
  "fmt",
  "time",
] }

[dev-dependencies]
ark-std.workspace = true
criterion = { workspace = true, features = ["html_reports"] }
ctor = "0.2"
proptest.workspace = true
once_cell.workspace = true

[[bin]]
name = "saffron-og-flow"
path = "og-flow/main.rs"

[[bench]]
name = "read_proof_bench"
harness = false

[[bench]]
name = "folding_bench"
harness = false

[features]
bench = []
ocaml_types = ["kimchi-stubs", "ocaml", "ocaml-gen"]
