name: Bench mina circuits (set baseline master)

# Runs on either pushes to master, or on manual call
#
# Please don't regenerate the data unless you REALLY know what you're doing, e.g. you had to regenerate
# benchmark data and now the baselines changed.
on:
  push:
    branches:
      - master
  pull_request:
    types: [labeled]

env:
  CARGO_TERM_COLOR: always

jobs:
  bench-set-baseline:
    if: github.event_name == 'push' || github.event.label.name == 'unsafe-benches-mina-reset-baseline'
    runs-on: ubuntu-latest
    name: Run benches
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Load versions
        id: versions
        uses: ./.github/actions/load-versions

      - name: Use shared Rust toolchain setting up steps
        uses: ./.github/actions/toolchain-shared
        with:
          rust_toolchain_version: ${{ steps.versions.outputs.rust-msrv }}

      - name: Use shared OCaml setting up steps
        uses: ./.github/actions/ocaml-shared
        with:
          ocaml_version: ${{ steps.versions.outputs.ocaml-version }}

      - name: Run criterion bench
        run: |
          set -x
          eval $(opam env)
          SAVE_BASELINE_NAME=master-baseline-data bash scripts/bench-criterion-mina-circuits.sh cargo bench -p kimchi --bench proof_criterion

      - name: Copy previous baseline to target folder
        run: |
          set -x
          mkdir criterion-ps-mina-master-baseline/
          find . -type d -iname "master-baseline-data" -exec rsync -avR {} ./criterion-ps-mina-master-baseline/ \;

      # Upload current baseline
      - uses: actions/upload-artifact@v6
        with:
          name: criterion-ps-mina-master-baseline
          path: criterion-ps-mina-master-baseline/
