name: Global configuration for formatting related jobs

on:
  workflow_dispatch:
  pull_request:
  merge_group:

jobs:
  run_rust_formatting:
    name: Formatting Rust related code
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust_toolchain_version: ["nightly"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Use shared Rust toolchain setting up steps
        uses: ./.github/actions/toolchain-shared
        with:
          rust_toolchain_version: ${{ matrix.rust_toolchain_version }}

      - uses: taiki-e/install-action@v2
        with:
          tool: taplo

      - name: Check formatting related to Rust code
        run: make check-format

  run_markdown_formatting:
    name: Formatting Markdown files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Check markdown formatting
        run: make check-format-md
