name: Basic rust CI stuff

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  run_checks:
    runs-on: ubuntu-latest
    name: Run some basic checks
    steps:

      - name: Checkout PR
        uses: actions/checkout@v2

      - name: Set up cargo/rust
        run: |
          rustup component add rustfmt 

      - name: Setup OCaml (because of ocaml-gen)
        run: sudo apt update && sudo apt install ocaml

      - name: build
        run: |
          cargo build

      - name: build ocaml types
        run: |
          cargo build --features ocaml_types

      - name: Run cargo fmt
        run: |
          cargo fmt -- --check

      - name: Run cargo clippy
        run: |
          cargo clippy \
            -p ocaml-gen \
            -p o1-utils \
            -p oracle
