name: Wasm

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:
  build-wasm:
    name: Build WebAssembly code

    strategy:
      matrix:
        rust_toolchain_version: ["nightly-2024-09-05"]
        os: ["ubuntu-latest", "macos-latest"]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Use shared Rust toolchain setting up steps
        uses: ./.github/actions/toolchain-shared
        with:
          rust_toolchain_version: ${{ matrix.rust_toolchain_version }}
          targets: wasm32-unknown-unknown

      - shell: bash
        run: rustup component add rust-src

      - name: Build the WebAssembly for the web
        run: |
          TOOLCHAIN_PATH=$(rustup run ${{ matrix.rust_toolchain_version }} rustc --print sysroot)
          HOST_TRIPLE=$(rustc -vV | sed -n 's/host: //p')
          export CARGO_TARGET_WASM32_UNKNOWN_UNKNOWN_LINKER="${TOOLCHAIN_PATH}/lib/rustlib/${HOST_TRIPLE}/bin/rust-lld"
          make build-web

      - name: Build the WebAssembly for NodeJS
        run: |
          TOOLCHAIN_PATH=$(rustup run ${{ matrix.rust_toolchain_version }} rustc --print sysroot)
          HOST_TRIPLE=$(rustc -vV | sed -n 's/host: //p')
          export CARGO_TARGET_WASM32_UNKNOWN_UNKNOWN_LINKER="${TOOLCHAIN_PATH}/lib/rustlib/${HOST_TRIPLE}/bin/rust-lld"
          make build-nodejs
