name: Wasm

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:
  build-wasm:
    name: Build WebAssembly code

    runs-on: ["ubuntu-latest"]

    strategy:
      matrix:
        rust_toolchain_version: ["nightly-2024-06-13"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Use shared Rust toolchain setting up steps
        uses: ./.github/actions/toolchain-shared
        with:
          rust_toolchain_version: ${{ matrix.rust_toolchain_version }}
          targets: wasm32-unknown-unknown

      - uses: taiki-e/install-action@v2
        with:
          tool: wasm-pack@0.12.1

      - shell: bash
        run: rustup component add rust-src

      - name: Build the WebAssembly for the web
        run: make build-web

      - name: Build the WebAssembly for NodeJS
        run: make build-nodejs
